Enter a Spotify playlist id and click Create Playlist to create a copy of the playlist sorted by song popularity.
<label for="playlist-id">Enter the playlist id:</label>
<input id="playlist-id" name="playlist-id" type="text" />
<button id="btn-create">Create Playlist</button>

<p>{{profile.display_name}}</p>
<p>{{profile.email}}</p>
<ul class="playlist_list">
  {{#each items}}
    <li id="{{this.id}}">{{this.name}}</li>
  {{/each}}
</ul>

<script>
  const urlBase = 'http://localhost:8080/';
  const createBtn = document.getElementById('btn-create');
  const list = document.querySelector('.playlist_list');
  const input = document.getElementById('playlist-id');

  createBtn.onclick = async () => {
    const playlistPath = 'playlist/'
    const playlistId = input.value
    const url = urlBase + playlistPath + playlistId;
    try {
      const response = await fetch(url);
      if (!response.ok) {
        throw new Error(`Response status: ${response.status}`);
      }

      const json = await response.json();
      const newItem = document.createElement('li');
      newItem.id = json.id
      newItem.innerText = json.name;
      list.appendChild(newItem);
      console.log(json);
    } catch (error) {
      console.error(error.message);
    }
  }

  list.onclick = (event) => {
    console.log(event.target.id);
    input.value = event.target.id;
  }
</script>